{% extends 'base/base.html' %}
{% load static %}


{% block content %}

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Services</h2>
						<div class="page_link">
							<a href="{% url 'core:home' %}">Home</a>
							<a href="{% url 'core:ourServices' %}">Services</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Feature Area =================-->
        <section class="feature_area">
        	<div class="container">
        		<div class="main_title">
        			<h2>{{ services_title|safe }}</h2>
        			<p>{{ services_description|safe }}/p>
        		</div>
        		<div class="feature_inner row">
				{% for each in services%}
        			<div class="col-lg-4">
        				<div class="feature_item">
        					<img src={{ each.img.url }} alt="">
        					<h4>{{each.heading}}</h4>
        					<p>{{each.short_content}}</p>
        					<a class="main_btn" href="#">View Details</a>
        				</div>
        			</div>
					 {% endfor %}
      
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
        
        <!--================Post Slider Area =================-->
          <section class="post_slider_area">
        	<div class="main_title">
				<h2>{{ work_title|safe }}</h2>
				<p>{{ work_description|safe }}</p>
			</div>
			<div class="post_slider_inner owl-carousel">
			{% for each in projects %}
				<div class="item">
					<div class="post_s_item">
						<div class="post_img">
							<img src={{ each.img.url}} alt="">
						</div>
						<div class="post_text">
							<a href="single-blog.html"><h4>{{each.title}}</h4></a>
							<p>{{each.short_content}}</p>
							<a class="main_btn" href="#">View Details</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
        </section>
        <!--================End Post Slider Area =================-->
        
        <!--================Clients Logo Area =================-->
        <section class="clients_logo_area p_120">
        	<div class="container">
        		<div class="clients_slider owl-carousel">
        			<div class="item">
        				<img src="img/clients-logo/c-logo-1.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-2.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-3.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-4.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-5.png" alt="">
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Clients Logo Area =================-->
        
      
        
        
{% endblock %}